.exam-name{
    color: white;
    background-color: teal;
    padding: 10px 20px;
}

.exam-header{
    border-radius: 10px;
    border: 5px solid teal;
    text-align: center;
}

.psc-input, .jsc-input, .ssc-input, .hsc-input, .varsity-input{
    text-align: center;
    margin-top: 30px;
}

input{
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

input:focus{
    border: 1px solid lightskyblue;
}

.custom-button{
    color: white;
    background-color: teal;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 50px;
}

.custom-button:hover{
    background-color: rgb(10, 87, 87);
}

.form-box h3{
    margin-bottom: 30px;
}

#psc-alert, #jsc-alert, #ssc-alert, #hsc-alert, #varsity-alert{
    color: red;
    display: none;
}

.result-sheet{
    background-color: burlywood;
    padding: 10px;
    margin: 30px 20%;
    border-radius: 10px;
}

.jsc-input, .ssc-input, .hsc-input, .varsity-input{
    display: none;
}

#psc{
    background-color: #0a5757;
}

#psc-result, #jsc-result, #ssc-result, #hsc-result, #varsity-result{
    display: none;
}

#calculate-add-buttons{
    display: none;
}